/* PHASE 1: Header */

body {
  /* Write your css here... */
  background: #eee;
}

.header {
  background-color: #f00;
  border-bottom: 1px;
  color: #fff;
  Font-Family: sans-serif;
  Font-Weights: 700;
  Font-Sizes: 16px;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {

}
